<div class="artboard phone-2 mx-auto space-y-3 rounded-lg">
    <div class="space-y-4 my-8">
        <h2 class="text-3xl font-bold text-center my-4">TODOLIST</h2>
        <h3 class="text-base font-bold text-center">{{today}}</h3>
        <progress class="progress" value="{{progress}}" max="100"></progress>
        <div class="flex space-x-1">
            <select id="todoPriority" class="select select-neutral select-sm">
                <option value="0">높음</option>
                <option value="1">보통</option>
                <option value="2">낮음</option>
            </select>
            <input type="text" id="todo" class="input input-bordered input-neutral input-sm flex-auto" placeholder="할 일 입력" >
            <button type="button" class="btn btn-neutral btn-sm" onclick="addList()">추가</button>
        </div>
    </div>
    <ul class="space-y-2">
        {{#each list}}
        <li class="flex space-x-1">
            <button type="button" class="btn {{convertPriorityColor todoPriority}} btn-sm" onclick="updatePriority('{{_id}}', '{{todoPriority}}')">{{convertPriority todoPriority}}</button>
            <input type="text" value="{{todo}}" class="input input-bordered input-sm flex-auto" onchange="updateTodo('{{_id}}', '{{todo}}', this)" {{#if checked}}disabled{{/if}}>
            <input type="checkbox" class="checkbox checkbox-neutral checkbox-lg self-center" onclick="updateChecked('{{_id}}', this)" {{#if checked}}checked="true"{{/if}}>
            <button type="button" class="btn btn-error btn-sm btn-square" onclick="deleteList('{{_id}}')">X</button>
        </li>
        {{/each}}
    </ul>
</div>

<script>
    /* 할 일 추가 */
    const postOption = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    }

    async function addList() {
        const todo = document.getElementById('todo').value;
        const todoPriority = +(document.getElementById('todoPriority').value);

        if (!todo) {
            alert("할 일을 입력해주세요");
            return;
        }

        await fetch("/list", {
            ...postOption,
            body: JSON.stringify({ todo, todoPriority })
        })
            .then((res) => {
                if (!res.ok) {
                    alert("할 일을 추가하지 못했습니다");
                } else {
                    alert("할 일이 추가되었습니다");
                    document.location.reload();
                }
            });
    }

    /* 할 일 수정 */
    const updateOption = {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json'
        }
    }

    async function updateTodo(id, before, after) {
        if (!after.value) {
            after.value = before;
            return ;
        }

        await fetch("/list", {
            ...updateOption,
            body: JSON.stringify({ id, todo: after.value })
        })
            .then((res) => {
                if (!res.ok) {
                    alert("할 일을 수정하지 못했습니다");
                } else {
                    document.location.reload();
                }
            });
    }

    async function updatePriority(id, priority) {
        const afterPriority = (priority + 2) % 3;

        await fetch("/list", {
            ...updateOption,
            body: JSON.stringify({ id, todoPriority: afterPriority })
        })
            .then((res) => {
                if (!res.ok) {
                    alert("할 일의 우선순위를 변경하지 못했습니다");
                } else {
                    document.location.reload();
                }
            });
    }

    async function updateChecked(id, checkbox) {
        await fetch("/list", {
            ...updateOption,
            body: JSON.stringify({ id, checked: checkbox.checked })
        })
            .then((res) => {
                if (!res.ok) {
                    alert("할 일의 상태를 변경하지 못했습니다");
                } else {
                    document.location.reload();
                }
            });
    }

    /* 할 일 삭제 */
    const deleteOption = {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json'
        }
    }

    async function deleteList(id) {
        await fetch("/list", {
            ...deleteOption,
            body: JSON.stringify({ id })
        })
            .then((res) => {
                if (!res.ok) {
                    alert("할 일을 삭제하지 못했습니다");
                } else {
                    alert("할 일이 삭제되었습니다");
                    document.location.reload();
                }
            });
    }
</script>